<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All PDFs</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>📚 All PDFs (Recent First)</h1>
    <div class="nav-buttons">
        <a class="nav-button" href="{{ url_for('browse', subpath='') }}">⬅ Go Back</a>
        <a class="nav-button" href="{{ url_for('browse', subpath='') }}">📁 Files</a>
        <a class="nav-button" href="{{ url_for('all_videos') }}">🎬 Videos</a>
        <a class="nav-button" href="{{ url_for('all_pdfs') }}">📚 PDFs</a>
    </div>

    

    <div class="container">
        {% for pdf in pdfs %}
            <div class="item">
                <a href="{{ url_for('browse', subpath=pdf) }}">
                    <img src="/static/pdficon.png" alt="PDF" style="width: 100px;">
                    <p>{{ pdf.split('/')[-1] }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

</body>
</html>
